[bumpversion]
current_version = 1.0.0alpha0
commit = True
tag = False
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(?P<release>[a-z]+)?(?P<inc>\d+)?
serialize = 
	{major}.{minor}.{patch}{release}{inc}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = production
values = 
	alpha
	rc
	production

[bumpversion:file:CHANGELOG.md]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:main.py]
search = VERSION='{current_version}'
replace = VERSION='{new_version}'
